<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Web</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <div class="home">
        <h1>Home</h1>    
    </div>
   
    <% if (login) { %> 
        <h1>Hello: <strong><%= name %></strong></h1>    
        <a href="logout" class="a-logout">Logout</a>
    <% } else { %>
        <h1><strong><%= name %></strong></h1>
        <a href="login" class="a-login">LOGIN</a>
    <% } %>
</body>
</html>