body{
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
}

/*Login*/
.login-form, .contenedor{
    width: 300px;
    margin:0 auto;
} 
.login-form h1 {
    text-align: center;
    color: rgb(0, 95, 102);
    font-size: 28px;
    padding: 70px 0 10px 0;
}
.login-form input[type="password"],
.login-form input[type="text"]{
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.btn-login{
    width: 100%;
    padding: 15px;
    background-color: #1595b6;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
}

/*Register*/
.register-form{
    width: 400px;
    margin: 0 auto;
    padding: 0px 20px 60px 20px;
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.btn-register{
    width: 100%;
    padding: 15px;
    background-color: #622aa3;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 10px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}
.register-form, .div{
    width: 300px;
    margin:0 auto;
} 
.register-form h1 {
    text-align: 100%;
    color: rgb(0, 95, 102);
    font-size: 28px;
    padding: 70px 0 10px 0;
}
.register-form input[type="password"],
.register-form input[type="text"]{
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.btn-save{
    width: 50%;
    padding: 15px;
    background-color: #1595b6;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    color: #ffffff;
}
.btn-cancel{
    width: 50%;
    text-align: center;
    padding: 15px;
    background-color: #622aa3;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    color: #ffffff;
    margin-top: 20px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

/* index.ejs */
.home h1{
    text-align: center;
    font-size: 50px;
    padding: 70px 0 10px 0;
}

.a-logout{
    width: 15%;
    text-align: center;
    padding: 20px;
    background-color: #622aa3;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    color: #ffffff;
    margin-top: 20px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.a-login{
    width: 15%;
    text-align: center;
    padding: 20px;
    background-color: #1595b6;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    color: #ffffff;
    margin-top: 20px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}